/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  background-color: #007bff;
  padding: 1rem; /* 16px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar li {
  margin: 0 1rem; /* 16px */
  color: #ffffff;
}

.navbar .nav-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem; /* 16px */
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ffffff;
}

.navbar li:last-child {
  font-weight: 700;
  color: #ffffff;
}

a.nav-link {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 1rem; /* 16px */
  margin: 0.5rem 0; /* 8px 0 */
  text-decoration: none;
  color: #007bff;
  background-color: #ffffff;
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  text-align: center;
  font-weight: 500;
  font-size: 1rem; /* 16px */
  transition: background-color 0.3s ease, color 0.3s ease;
}

a.nav-link:hover {
  background-color: #007bff;
  color: #ffffff;
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* 8px */
  margin-top: 2rem; /* 32px */
  justify-content: space-between; /* Add this line */
}

.nav-link {
  color: #007bff;
  text-decoration: none;
}

.nav-link:hover {
  color: #0056b3;
}

.right-links {
  display: flex;
  gap: 1rem; /* Adjust this value as needed */
}

.logout-link {
  color: white; /* Change the text color to red */
  font-weight: bold; /* Make the text bold */
  text-decoration: none; /* Remove the underline */
}

@media (min-width: 600px) {
  .nav-links-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  a.nav-link {
    margin: 0.5rem; /* 8px */
  }
}
