{% block content %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-links-container">
        <div class="right-links">
          {% if current_user.is_authenticated %}
          <li>{{ current_user.username }} - Level: {{ current_user.level }}</li>
          {% endif %}
          <li>
            <a class="logout-link" href="{{ url_for('logout_page') }}"
              >Wyloguj się</a
            >
          </li>
        </div>
      </ul>
    </nav>
    <a class="nav-link" href="{{ url_for('wpm_exercise_page')}}"
      >Testuj prędkość czytania</a
    >
    <a class="nav-link" href="{{ url_for('effectivity_exercise_page')}}"
      >Sprawdź efektywność czytania</a
    >
    <a class="nav-link" href="{{ url_for('training_page')}}">Trening</a>
    <a class="nav-link" href="{{ url_for('reports_page')}}">Postępy</a>
    <a class="nav-link" href="{{ url_for('ranking_page')}}">Ranking</a>
  </body>
  <script></script>
</html>
{% endblock %}
