{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li>{{ current_user.username }}</li>
            {% endif %}
        </ul>
    </nav>
    <a href="{{ url_for('exercise1_page')}}">Ćwiczenie 1</a>
    <a href="{{ url_for('reports_page')}}">Raporty</a>

</body>
</html>
{% endblock %}