<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efektywność czytania</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='exercise2.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='exercise2.css') }}"
    />
</head>
<body>
    <p id="text_content"></p>
    <button id="start_btn">Start</button>
    <button id="next-button">Dalej</button>
    <p id="time"></p>
    <p id="wpm_info"></p>
    <p id="phrase_info"></p>
    <button id="done_btn">Zakończ</button>
    <div id="quiz-container"></div>
    
</body>
</html>