<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/exercise2.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/exercise2.js') }}"></script>
    <title>Grupowanie</title>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
        />
      </symbol>
      <symbol
        id="exclamation-triangle-fill"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </symbol>
    </svg>

    <div class="alert-container" id="alert">
      <div class="container mt-4">
        <div
          class="alert alert-info alert-dismissible fade show d-flex align-items-center"
          role="alert"
        >
          <svg
            class="bi flex-shrink-0 me-2"
            width="24"
            height="24"
            role="img"
            aria-label="Info:"
          >
            <use xlink:href="#info-fill" />
          </svg>
          <div class="mx-3">
            Podążaj wzrokiem za otwartą częścią tekstu krok po kroku i zamiast
            patrzeć na słowo po słowie, spróbuj zobaczyć tekst w każdym otwartym
            obszarze jako całość, patrząc na środek otwartych wzorów słów
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <div
      class="container d-flex align-items-top align-items-md-center justify-content-center mt-4 mt-md-1"
      id="container"
    >
      <div class="row gy-4 w-100">
        <div class="col-12">
          <div class="card" id="text_container">
            <div class="card-body">
              <p id="text" class="fs-5"></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 text-center mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="fs-5 mb-0" id="time">Czas: 00-00</p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center" id="start_btn_container">
          <button
            type="button"
            class="btn btn-primary btn-lg px-5"
            id="start_btn"
          >
            Start
          </button>
        </div>
        <div class="col-12 text-center">
          <button
            type="button"
            class="btn btn-primary btn-lg px-5"
            id="done_btn"
          >
            Przejdź do quizu
          </button>
        </div>
      </div>
    </div>
    <div id="quiz_container"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
  <script>
    const happyFaceUrl =
      "{{ url_for('static', filename='Images/happy_face.png') }}";
    const sadFaceUrl =
      "{{ url_for('static', filename='Images/sad_face.png') }}";
  </script>
</html>
