<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .cover {
        background-color: #0077ff;
        color: #0077ff;
        transition: color 1s;
        border-radius: 5px;
        user-select: none;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='grouping.js') }}"></script>
    <title>Document</title>
  </head>
  <body>
    <p id="exercise_description">
      Podążaj wzrokiem za otwartą częścią tekstu krok po kroku i zamiast patrzeć
      na słowo po słowie, spróbuj zobaczyć tekst w każdym otwartym obszarze jako
      całość, patrząc na środek otwartych wzorów słów.
    </p>
    <p id="text_content"></p>
    <button id="start_btn">Start</button>
    <p id="time"></p>
    <button id="done_btn">Done</button>
    <div id="quiz-container"></div>
  </body>
</html>
