body {
  background-color: #f0f2f5;
}

.navbar {
  background: linear-gradient(135deg, #007bff, #02add3);
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 2rem;
}

.card img {
  width: 7rem;
  height: 7rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 91, 187, 0.4);
}

.btn-light {
  border-color: #007bff;
  color: #007bff;
}

.btn-light:hover {
  background-color: #e0f0ff;
  border-color: #007bff;
  color: #0056b3;
}

.custom-toggler {
  border: 2px solid rgba(255, 255, 255, 0.534) !important;
  border-radius: 0.25rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler:focus,
.custom-toggler:active {
  outline: none;
  box-shadow: none;
}