body {
  background-color: #f0f2f5;
}
.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 50rem; /* Increased width for wider layout */
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn-primary:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 91, 187, 0.4);
}
.btn-disabled {
  cursor: not-allowed;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
p {
  margin: 0%;
}
#quiz_container .container {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 70rem;
}

label.box {
  display: flex;
  margin-top: 0.7rem;
  padding: 0.6rem 1rem; /* Adjust padding for better spacing */
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ddd;
}
input[type="radio"] {
  display: none;
}

/* Add hover and checked states for answer options */
label.box:hover {
  background-color: #e0e7ff; /* Soft hover effect */
}

label.box .course {
  display: flex;
  align-items: center;
  width: 100%;
}
label.box .circle {
  width: 1.5rem; /* Slightly larger circle */
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.125rem solid #ddd;
  display: inline-block;
}

/* When checked, make the borders more prominent */
input[type="radio"]:checked + label.box {
  border-color: #007bff;
}

input[type="radio"]:checked + label.box .circle {
  border: 0.375rem solid #007bff;
  background-color: #fff;
}
.card img {
  width: 9rem;
  height: 9rem;
}